*{
  margin: 0;
  padding: 0;
}

.scroll-invisible {
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.scroll-invisible::-webkit-scrollbar {
  display: none;
}

.btn-outline-custom {
  border: 1px solid #303d50;
  color: #303d50;
  background-color: transparent;
}

.btn-outline-custom:hover {
  background-color: #303d50;
  color: white;
}

